/* Structure */
table {
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-paginator {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.margen {
    margin-bottom: 25px;
}

.mat-column-status{
    text-align: end;
}