img {
    width: 100%;
}

.color-green {
    color: green !important;
}

.color-blue {
    color: blue !important;
}

.color-red {
    color: red !important;
}

.color-bars {
    background: linear-gradient(60deg, #5060b3, #3e51b5) !important;
    background-image: linear-gradient(60deg, #5060b3, #3e51b5) !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}